{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<h1 class="text-center">About Us</h1>
<div class="container mt-3">

<div class="container">
 <img src="https://www.charnockhospital.com/portfolio/charnock-hospital.kolkata-portfolio-07.jpg ">
</div>



<p>JMJ Hospital, a 750-bed multi-specialty acute-cum-critical care referral hospital, is one of the most well-equipped and premier hospitals in South India.Since inception in 1973, the Hospital has come a long way with the commitment and passion of over 1,500 dedicated healthcare professionals, comprising internationally acclaimed doctors/surgeons and efficient support staff, and world-class facilities. Providing personalised patient-centered treatment and care, 24/7 support and services, we uphold high ethical standards while breaking new grounds in the field of healthcare and medicine.</p>
<p>We have to our credit, numerous path breaking achievements in the field, which is indeed the result of our undeterred pursuit of excellence in healthcare. In continuation to our legacy of care, compassion and commitment, as established by our founder Dr. P. A. Verghese , JMJ Hospital now has a world-class medical complex integrated with the best of all infrastructure and medical expertise, to cater to the needs of International and local patients with equal passion. All adding up to our steadfast dedication which ensures that on the road to recovery, there are no unpleasant surprises.</p>

<p>JMJ Hospital also dedicates its advanced facilities and know-how to research and development making further inroads in the field of health and medicine. The hospital runs educational institutions to impart knowledge and training in Nursing, Physiotherapy, Paramedical Sciences and Radiological Techniques, to build an efficient workforce of healthcare professionals, to adequately handle the global requirements of medical and surgical emergencies.</p>
</div>
{% endblock %}
